body {
	background: #9053c7;
	background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
	background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
	background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
	background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.wrap-container {
	width: 100%;
	background: #fff;
	border-radius: 10px;
	padding: 100px 40px 100px 40px;
}

.login120-form {
}

.navbar .quotelogo {
	height: auto;
	width: 90px;
	float: left;
	/* padding-bottom: 10px; */
}

.wrap-login100 {
	width: 100%;
}


.wrap-login100.signup {
	margin-top: 70px !important;
}

a.nav-link {
	color: rgb(247, 247, 247) !important;
	font-size: 15px;
}

select {
	outline: none;
	border: none;
}

p.info-data {
  font-size: 17px;
  /* font-style: oblique; */
  color:rgb(0, 0, 0);
  padding-left: 10px;
}

p.info-topic {
  font-size: 13px;
}

.modal-content {
  border-radius: 10px !important;
}
