<?xml version="1.0" encoding="UTF-8" ?>

<phpunit bootstrap="vendor/autoload.php"
          colors="true"
          verbose="true"
          >

  <testsuites>
    <testsuite name="unit">

      <directory>tests</directory> <!-- look inside the test folder, there are tests -->

    </testsuite>
  </testsuites>

  <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">C:\xampp\htdocs\Software-Design\Software-design-project\tests</directory>
        </whitelist>
  </filter>

<logging>
    <log lowUpperBound="35" highLowerBound="70" showUncoveredFiles="true" />
    <log type="coverage-html" target="C:\xampp\htdocs\Software-Design\Software-design-project\tests\coverage" showUncoveredFiles="true"/>
</logging>

</phpunit>




