<?xml version="1.0" encoding="UTF-8" ?>

<phpunit bootstrap="vendor/autoload.php"
          colors="true"
          verbose="true"
          >

  <testsuites>
    <testsuite name="unit">

      <directory>tests</directory> <!-- look inside the test folder, there are tests -->

    </testsuite>
  </testsuites>

  <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">/Applications/XAMPP/xamppfiles/htdocs/COSC4353Project/tests</directory>
        </whitelist>
  </filter>


</phpunit>
